@font-face {
  font-family: Flame-Bold-Variable;
  src: url(../assets/fonts/Flame-Bold-Variable.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Flame-Bold;
  src: url(../assets/fonts/Flame-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Flame-Regular;
  src: url(../assets/fonts/Flame-Regular.woff2);
}

@font-face {
  font-family: Flame-Regular;
  src: url(../assets/fonts/Flame-Regular.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Flame-Sans;
  src: url(../assets/fonts/FlameSans-Regular.woff2);
}

@font-face {
  font-family: Flame-Sans;
  src: url(../assets/fonts/FlameSans-Regular.woff2);
  font-weight: bold;
}


