* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

:root {
  --pri-background: #f5ebdc;
  --link-color: #f5ebdc;
  --link-hover: #ff7a20;
  --text-color: #502314;
  --header-color: #502314;
  --title-color: #d62347;
}

/* ============= Generals  ============= */

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

body {
  background-color: var(--pri-background);
  color: var(--text-color);
  min-height: 100vh;
}

/* ============= End Generals  ============= */

/* ============= Header & Menu ============= */

header {
  background-color: var(--header-color);
  padding: 5px 1.5rem 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 4rem;
  z-index: 5;
}

.logo img {
  height: 100%;
}

.mobile-menu {
  z-index: 5;
}

.mobile-menu img {
  width: 25px;
}

nav {
  background-color: var(--header-color);
  font-size: 2rem;
  color: var(--pri-background);
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

nav ul {
  display: grid;
  gap: 1rem;
}

.hide-menu {
  z-index: -1;
  opacity: 0;
}

.mobile-menu #close-menu-icon {
  display: none;
}

/* ============= End Header & Menu ============= */

/* ============= Main Section ============= */

main {
  padding: 4rem 20px;
}

section .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section h3 {
  color: var(--title-color);
  font-weight: 900;
}

.content .item {
  width: 100%;
}

.item img {
  width: 90%;
}

.item p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* ============= End Main Section ============= */

/* ============= Footer ============= */

footer {
  background-color: var(--header-color);
  color: var(--pri-background);
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-info .info {
  display: grid;
  gap: 0.6rem;
}

.info h3 {
  font-size: 22px;
}

.info h6 {
  opacity: 0.5;
  font-size: 16px;
}

.footer-logo {
  width: 10rem;
  z-index: inherit;
}

.footer-info img {
  width: 100%;
}

footer .copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--pri-background);
  padding: 0.5rem 0;
}

/* ============= End Footer ============= */

/* ============= Media Qieries ============= */

@media (min-width: 768px) {
  section .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ============= End Media Qieries ============= */
